@import "tailwindcss";

:root {
  color-scheme: dark light;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}
